**/logs
#**/data
**/doc
**/.snakemake
**/results
**/calls
**/markedDups
**.vcf.gz
**.vcf.gz.tbi
**.fastq.gz
**.fastq
**.bam
**.bam.bai
**.out
**.json
**.html
core.**
**/multiqc_report_data
**.fa
**.gff3
**.errlog
**.kmc_pre
**.kmc_suf
**.lmiss
**.lqual
**.frq
**.mean
**.txt
**.012
**.012.indv
**.012.pos
**.frq.count
cbind.sh

!speciesList.txt
