**/logs
**/data
**/.snakemake
**/results
**/calls
**/markedDups
**.vcf.gz
**.vcf.gz.tbi
**.fastq.gz
**.fastq
**.bam
**.bam.bai
**.out
**.json
**.html
core.**
**/multiqc_report_data
**.fa
**.gff
**.errlog
**.kmc_pre
**.kmc_suf

!speciesList.txt
