**/logs
#**/data
**/.snakemake
**/results
**/calls
**/markedDups
**/config
**/multiqc_report_data
workflow/data/testDatasets/**

**.vcf.gz
**.vcf.gz.tbi
**.fastq.gz
**.fastq
**.bam
**.bam.bai
**.out
**.json
**.html
core.**
**.fa
**.gff3
**.errlog
**.kmc_pre
**.kmc_suf
**.lmiss
**.lqual
**.frq
**.mean
**.txt
**.012
**.012.indv
**.012.pos
**.frq.count
cbind.sh
**.png
**.zip
**.tex
**.log


!speciesList.txt
!panicum_halli_search.txt
!config.yaml
